article {
	border: 1px solid #eee;
	border-top: none;
	padding: 15px 10px;
}

article:first-of-type   { border: 1px solid #eee; }

article:nth-child(even) { background: #fafafa; }

article.complete        { background: #dafee3; }    /* Must be last in line! */


a#cancel { margin-left: 10px; }


/*** Flash ***/

div#flash {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 20px;
}

div.flash {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.notice { color: green; background: #eeffee; border: 1px solid green; }
.error  { color: red;   background: #ffeeee; border: 1px solid red;   }
